<div class= 'home-container'>

  <div class= 'home-nav'>
    <div class= 'aniBox blue'>
      <%= link_to 'Resume', resume_index_url %>  
    </div>
    <div class= 'aniBox orange'>
      <%= link_to 'Film' %> <!-- add path -->
    </div>
    <div class= 'aniBox green'>
      <%= link_to 'Code' %> <!-- add path -->
    </div>
    <div class= 'aniBox purple'>
      <%= link_to 'Contact', contacts_url %>
    </div>

  </div>


  <div class= 'body'>

    <p>insert about me things;</p>
    <p> ejwkjjkewrbjwberjbwjebrjbewrjbwj ebrjwberjbwerbwjberjbwebrjwberj bwjebrjebwjrbwjbe rbqjikafnguyhijoft ydrcfghvbjiuyt6ru5e ycfghvbjiudert6y7 u8iokmnjbhgvcfder tyuijknbv cdertyuijknbhvcfrtyhujbv cfgtyuihjbvgcfhjvgfy hjnbhvgfujkln hgiuoj</p>

  </div>


  <div class= 'aniBoat'>
    <%= image_tag('boat.png', class: 'boat') %>
  </div>


</div>