<div class= 'home-container'>

  <div class= 'body'>

    <%= render 'about' %>

    <div class="linkedInfo">
      <%= render 'potato' %>
      <%= render 'film' %>
      <%= render 'code' %>
      <%= render 'contact' %>
    </div>

  </div>

</div>